@using Microsoft.AspNetCore.Identity
@using EFCoreApp.ViewModels
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";

    TimeSpan morning = TimeSpan.Parse("00:00");
    TimeSpan afternoon = TimeSpan.Parse("12:01");
    TimeSpan evening = TimeSpan.Parse("18:00");
    TimeSpan now = DateTime.Now.TimeOfDay;

    var today = DateTime.Today;
    var apptList = Model.Appointments.Where(a => a.Start.Date == today).Count();
}

<div class="jumbotron">
    @if (now >= morning && now < afternoon && now < evening)
    {
        <h1>Good morning, @User.Identity.Name!</h1>
    }
    else if (now > morning && now >= afternoon && now < evening)
    {
        <h1>Good afternoon, @User.Identity.Name!</h1>
    }
    else if (now > morning && now > afternoon && now >= evening)
    {
        <h1>Good evening, @User.Identity.Name!</h1>
    }
    @if (Model.Appointments.Any())
    {
        <p>You have <span class="text-danger">@apptList</span> appointment(s) today</p>       
    }

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Your appointments</h2>
        <p>Manage your past and upcoming appoinments</p>
        <p><a class="btn btn-primary" asp-area="" asp-controller="Appointments" asp-action="Index">Go to Appointments</a></p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Interact with your customers</p>
        <p><a class="btn btn-primary" asp-area="" asp-controller="Customers" asp-action="Index">Go to Customers</a></p>
    </div>
    <div class="col-md-4">
        <h2>Profile</h2>
        <p>Change your password or other details here</p>
        <p><a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Go to Profile</a></p>
    </div>
</div>