@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Greeting</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Your appointments</h2>
        <p>
            Show today's appts or just a link to appts page
        </p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Interact with your customers here (link)</p>
    </div>
    <div class="col-md-4">
        <h2>Profile</h2>
        <p>Change your password or other details here</p>
    </div>
</div>