@{
    ViewData["Title"] = "Home Page";

    TimeSpan morning = TimeSpan.Parse("00:00");
    TimeSpan afternoon = TimeSpan.Parse("12:01");
    TimeSpan evening = TimeSpan.Parse("18:00");
    TimeSpan now = DateTime.Now.TimeOfDay;

}

<div class="jumbotron">
    @if (now >= morning && now < afternoon && now < evening)
    {
        <h1>Good morning</h1>
    }
    else if (now > morning && now >= afternoon && now < evening)
    {
        <h1>Good afternoon</h1>
    }
    else if (now > morning && now > afternoon && now >= evening)
    {
        <h1>Good evening</h1>
    }
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Your appointments</h2>
        <p>
            Show today's appts or just a link to appts page
        </p>
    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Interact with your customers here (link)</p>
    </div>
    <div class="col-md-4">
        <h2>Profile</h2>
        <p>Change your password or other details here</p>
    </div>
</div>